@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Body
$body-bg: #f3f5f7;

// Typography
$font-family-base: "Source Sans Pro", sans-serif;
$font-family-sans-serif: "MuseoModerno", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #01B1E0;
$primary_muted: #FFF6E7;
$accent: orange;

$secondary: #16171B;
$secondary-muted: #F9F9F9;

$box-bg: rgba(0, 0, 0, 0.5);
$box-bg-w: rgba(217, 217, 217, 0.5);
//font-colors
$font-white: #FFFFFF;
$font-gray: #979797;

  //bg-colors
$bg-white: #FFFFFF;


//radius
$radius: 18px;
$radius-small: 5px;
$selectors-radius: 0.7rem;

//margin
$margin-small: 10px;
$margin: 20px;

//paddings
$padding-extra-small: 5px;
$padding: 10px;
$padding-small: 10px;
$padding-page: 15px;
$padding-box: 20px;

$breakpoint-mobile: 768px;

:root {
  --shadow-color: 210deg 6% 68%;
  --shadow-elevation-low:
    0px 0px 0px hsl(var(--shadow-color) / 0.06),
    0px 0.1px 0.1px -0.3px hsl(var(--shadow-color) / 0.2),
    0.1px 0.2px 0.3px -0.6px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0px 0px 0px hsl(var(--shadow-color) / 0.05),
    0.1px 0.1px 0.2px -0.1px hsl(var(--shadow-color) / 0.12),
    0.1px 0.3px 0.4px -0.3px hsl(var(--shadow-color) / 0.19),
    0.2px 0.4px 0.6px -0.4px hsl(var(--shadow-color) / 0.26),
    0.3px 0.8px 1.2px -0.6px hsl(var(--shadow-color) / 0.33);
  --shadow-elevation-high:
    0px 0px 0px hsl(var(--shadow-color) / 0.05),
    0.1px 0.3px 0.4px -0.1px hsl(var(--shadow-color) / 0.08),
    0.2px 0.5px 0.8px -0.1px hsl(var(--shadow-color) / 0.11),
    0.2px 0.7px 1px -0.2px hsl(var(--shadow-color) / 0.15),
    0.3px 0.9px 1.3px -0.3px hsl(var(--shadow-color) / 0.18),
    0.4px 1.2px 1.8px -0.3px hsl(var(--shadow-color) / 0.21),
    0.5px 1.5px 2.2px -0.4px hsl(var(--shadow-color) / 0.24),
    0.7px 2px 3px -0.5px hsl(var(--shadow-color) / 0.27),
    0.9px 2.6px 3.9px -0.5px hsl(var(--shadow-color) / 0.31),
    1.2px 3.4px 5.1px -0.6px hsl(var(--shadow-color) / 0.34);
}

@mixin shadow($elevation) {
  box-shadow: var(--shadow-elevation-#{$elevation}),
              0px 0px 0px hsl(var(--shadow-color) / 0.05);
}


//vuetify
$v-theme-primary: $primary;
