// Body
$body-bg: #F3F5F7;

// Typography
$font-family-base: 'Source Sans Pro', sans-serif;
$font-family-sans-serif: 'Oswald', sans-serif;

$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #F4B755;
$secondary: #16171B;
$accent: #F4B755;
$secconday_muted: #696969;

$radius: 18px;
$radius-small: 5px;

$margin-small: 10px;
$margin: 20px;

$padding-page: 15px;

$padding: 10px;
$padding-small: 10px;
$padding-extra-small: 5px;
$padding-box: 20px;

$selectors-radius: 0.7rem;

$box-shadow-complex: -1px 1px 4px 0px rgba(0, 0, 0, 0.1019607843), 0px 25px 15px -22px #16171b;


$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;


$breakpoint-mobile: 768px;
