// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Oswald',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #6702FF;
$secondary: #F23EFA;
$accent: #f6993f;
$secconday_muted: #696969;
$selectors-radius: 0.7rem;


$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;


$breakpoint-mobile: 768px;
