@media (min-width: $breakpoint-mobile) {
    html {
        background-color: $primary_muted;
    }
    .adjectives-row {
        grid-template-columns: repeat(5, 1fr);
    }

    .main-page {
        width: 1200px;
        margin: auto;
        padding: 20px;
        border-radius: $radius;
        background-color: $bg-white;
    }
    .nav-bar {
        margin-top: $margin;
        height: 80px;
        margin-bottom: $margin;
        .navbar {
            gap: 20px;
            .nav-item {
                a {
                    color: $font-white;
                }
                font-weight: bold;
                text-transform: uppercase;
                background-color: $secondary;
                border-radius: $radius;
                text-align: center;
            }
        }
    }

    .homepage {
        .hero-banner {
            .hero-container {
                height: auto;
                position: relative;
                .features {
                    top: 10%;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    grid-column-gap: 15px;
                    position: absolute;
                    left: 10%;
                    transform: rotate3d(10, 30, 0, 45deg);
                    .car-feature-hero {
                        .car-feature-icon-hero {
                            height: 30px;
                            width: auto;
                        }
                        .car-feature-value-hero {
                        }
                    }
                }
                .card-img {
                    animation: float 6s ease-in-out infinite;
                    max-width: 100%;
                }
                .hero-title {
                    font-size: 3rem;
                    position: absolute;
                    top: 57%;
                    left: 30px;
                    margin: auto;
                    text-align: center;
                    display: block;
                    color: black;
                    width: 100vw;
                    font-weight: bold;
                }
                .hero-price {
                    color: $primary;
                    font-size: 1rem;
                    position: absolute;
                    top: 57%;
                    left: 42px;
                    margin: auto;
                    text-align: center;
                    display: block;
                    width: 100vw;
                    font-weight: bold;
                }
            }
        }
    }

    .search-form {
        padding: $padding-page;
    }

        //cta phone
    .cta-phone {
        border-radius: $radius-small;
        .cta-phone-box {
            display: flex;
            align-items: center;
            .cta-phone-title {
                width: 50%;
                margin: 0;
            }
            .cta-phone-buttons {
                margin: 0;
                width: 50%;
            }
        }
    }
}
