@media (max-width: $breakpoint-mobile) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    .main-car {
        margin-top: 100px;
        border-radius: 10px;

        .card-img {
            position: absolute;
            top: -100px;
            left: 5%;
            right: 5%;
            width: 90%;
        }

        .card-body {
            h2 {
                padding-top: 110px;
            }
        }
    }

    .adjectives-row {
        overflow: hidden;
        transition: 0.5s;
        max-height: 0;

        // div:nth-of-type(1n+4) {
        //     transition: 0.5s;
        //     display: none;
        // }
    }

    .adjectives-row-active {
        transition: 0.5s;
        max-height: 1000px;
        // div:nth-of-type(1n+4) {
        //     transition: 0.5s;
        //     display: flex;
        // }
    }


    .adjective-single {
        width: 33.33%;
        display: flex;
    }

    .navbar-nav {
        flex-direction: row;
    }

    #app:after {
        content: " ";
        height: 300px;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: -1;
        border-bottom-right-radius: 25%;
        border-bottom-left-radius: 25%;
        overflow: hidden;
        background-image: linear-gradient(to right, #4451ff, #00a1ff);
    }
}
